@import '../../../../styles//breakpoint.css';

body {
  background-color: var(--color-white) !important;
}

body > footer {
  margin-top: 4rem;
}

.section-container {
  margin-top: 0;
}

.section-title-text {
  font-family: ABC-Diatype;
  font-size: 0.875rem;
  line-height: 1.225rem;
}

@media (min-width: $breakpoint-md-max) {
  body {
    background-color: var(--color-gray) !important;
  }

  .section-container {
    margin-top: 4rem;
  }
}
