@import '../../../styles/breakpoint.css';

.visual-only-module-section .button-container {
  display: flex;
  justify-content: center;
}

.visual-only-module-section .button-container-advantage {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

@media (min-width: $breakpoint-md-max) {
  .hero-section-image {
    margin-top: 52px;
  }

  .hero-section-description {
    margin-bottom: 52px;
  }

  .visual-only-module-section .button-container {
    margin-top: 4.5rem;
  }
}

@media (min-width: $breakpoint-md-max) and (max-width: 73.125rem) {
  .hero-section-image {
    padding-left: 3.75rem;
  }
}

@media (max-width: $breakpoint-md-min) {
  .hero-section-image {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .hero-section-image .image {
    max-width: 11.375rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .visual-only-module-section .container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
