@import '../../styles/breakpoint.css';

.btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: none;
  white-space: nowrap;
  width: 13.3125rem;
}

.span {
  line-height: 81%;
}

.icon {
  /* margin-left: 3.18rem; */
}

.btn-primary {
  background-color: var(--color-yellow);
  color: var(--color-charcoal);
}

@media (any-hover:hover) {
  .btn-primary:hover {
    background-color: var(--color-white);
  }
}

.btn-primary:active {
  background-color: var(--color-white);
}

@media (max-width: $breakpoint-md-min) {
  .btn {
    padding-top: .875rem;
    padding-bottom: .875rem;
  }
}