@import "../../styles/breakpoint.css";

$item-gap:1rem;

.article-card-list {
  width: 100%;
  position: relative;
}

.list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.list-item {
  margin-right: $item-gap;
  margin-top: 4rem;
  text-align: left;
  padding-bottom: 1rem;
  cursor: pointer;
}

.line-start {
  /* margin-right: 0; */
}

.line-end {
  margin-right: 0;
}

.image-box {
  width: 100%;
  height: 0;
  padding-top: 72%;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.tag-date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.date {
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.14px;
  text-transform: uppercase;
}

.title {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 2rem;
}

.content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  height: 2.8rem;
  padding-right: 2rem;
  white-space: break-spaces;
}

.content * {
  font-family: 'ABC-Diatype';
  line-height: 140%;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.load-more {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.m-t0 {
  margin-top: 0;
}

@media (any-hover:hover) {
  .list-item:hover .title {
    font-family: IvarText-Italic;
  }
}

@media (min-width: $breakpoint-md-max) {
  .full {
    width: 100% !important;
    display: flex;
    padding: 2rem 0;
    gap: 2rem;
    border-top: 1px solid var(--color-charcoal-tint);
    border-bottom: 1px solid var(--color-charcoal-tint);
    margin-top: 0;
  }

  .full .image-box,
  .full .text-box {
    flex: 1
  }

  .full .image-box {
    padding-top: 33%;
    margin-bottom: 0;
  }

  .full .text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .full .title {
    font-size: 3rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    max-width: 28.8125rem;
    white-space: break-spaces;
  }

  .full .content {
    -webkit-line-clamp: 1;
    height: 1.225rem;
  }
}

@media (max-width: $breakpoint-md-min) {
  .list-item {
    margin-right: 0;
    width: 100% !important;
    margin-top: 2rem;
  }

  .list-item:nth-child(1) {
    margin-top: 0;
  }

  .image-box {
    margin-bottom: 1rem;
  }

  .tag-date {
    margin-bottom: 1.5rem;
  }

  .date {
    font-size: 0.8125rem;
    line-height: 150%;
  }

  .title {
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }

  .content {
    -webkit-line-clamp: 3;
    height: 3.675rem;
  }

  .content * {
    font-size: .875rem;
  }

  .load-more {
    justify-content: flex-start;
  }

  .is-carousel .list {
    display: block;
    white-space: nowrap;
    font-size: 0;
    overflow-x: auto;
    width: 100%;
  }

  .is-carousel .scrollbar-mask {
    position: relative;
  }

  .is-carousel .mask {
    position: absolute;
    width: 100%;
    background-color: var(--color-gray);
    height: 1rem;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .is-carousel .list-item {
    display: inline-block;
    width: calc(100% - 3rem) !important;
    margin-right: $item-gap;
    margin-top: 0;
    vertical-align: top;
  }

  .is-carousel .list-item:last-child {
    margin-right: 1.5rem;
  }
}