@import '../../../../styles/breakpoint.css';

.product-section {
  padding: 4rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: var(--color-charcoal);
}

.section-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.flex-end {
  align-items: flex-end;
}

.section-title {
  font-weight: 500;
  letter-spacing: 0.14px;
  text-transform: uppercase;
}

.product-items {
  margin-top: 2rem;
}

.product-item {
  padding: 2rem 0;
  border-top: 1px solid var(--color-charcoal-tint);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-item:last-child {
  border-bottom: 1px solid var(--color-charcoal-tint);
}

.product-link {
  padding-left: 13.125rem;
}

.product-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: auto;
}

.product-desc {
  max-width: 20.4375rem;
}

.product-title {
  font-size: 3rem;
}

.product-logo {
  align-items: center;
}

.logo {
  width: 5.25rem;
  height: 5.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  float: left;
}

.product-title {
  padding-left: 6.75rem;
  line-height: 5.25rem;
}

.section-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.certification-items {
  display: flex;
  gap: 1rem;
}

.certification-item {
  display: flex;
  width: 13.3125rem;
  height: 10.8125rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5625rem;
  position: relative;
}

.certification-item .image {
  width: 7.6875rem;
  height: 7.6875rem;
  position: relative;
}

@media (min-width: $breakpoint-md-max) {
  .certification-title {
    display: none;
  }
}

@media (max-width: $breakpoint-md-min) {
  .product-section {
    padding: 3.5rem 1.5rem;
  }

  .section-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .section-title {
    font-size: 0.8125rem;
  }

  .section-text {
    gap: 1rem;
  }

  .section-describe {
    font-size: 0.875rem;
  }

  .product-item {
    align-items: flex-start;
  }

  .product-text {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

  .product-link {
    padding-left: 1.25rem;
  }

  .product-logo {
    display: flex;
    gap: 1.25rem;
  }

  .logo {
    width: 3.1875rem;
    height: 3.1875rem;
  }

  .logo img {
    width: 2rem;
    max-height: 1.9375rem;
  }

  .product-title {
    font-size: 1.5rem;
    padding-left: 0;
    line-height: 120%;
  }

  .certification-items {
    gap: 0.5rem;
    width: 100%;
    justify-content: center;
  }

  .certification-item {
    display: block;
    gap: 0.5rem;
    height: auto;
    padding: 1.5rem 0.5rem;
    gap: 1rem;
    flex: 1;
    width: auto;
    max-width: 6.5625rem;
    text-align: center;
  }

  .certification-title {
    display: block;
    letter-spacing: 0.13px;
    text-transform: uppercase;
  }

  .certification-item .image {
    height: auto;
    margin: 0 auto 1rem auto;
  }
}

@media (any-hover: hover) {
  .product-item:hover .product-title {
    font-family: IvarText-Italic;
  }
}

.product-item:active .product-title {
  font-family: IvarText-Italic;
}
