@import '../../styles/breakpoint.css';

.not-found {
  text-align: center;
  padding: 5rem 1.5rem;
  background-color: var(--color-white);
  font-family: ABC-Diatype;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1.875rem;
}

.body {
   font-size: 1.125rem;
   margin-bottom: 1.875rem;
}

.link li{
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.link a:hover {
  text-decoration: underline;
}

@media (min-width: $breakpoint-md-max) {
  .not-found{
    min-height: calc(100vh - 5rem);
    margin-bottom: -23.75rem;
    padding: 6.25rem 1.875rem 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}