@import '../../../../styles//breakpoint.css';

body {
  background-color: var(--color-white) !important;
}

@media (min-width: $breakpoint-md-max) {
  body {
    background-color: var(--color-gray) !important;
  }

  .section-container {
    margin-top: 4rem;
  }
}