@import '../../../styles/breakpoint.css';

.container {
  background-color: var(--color-white);
}

.title {
  font-weight: 400;
}

@media (min-width: $breakpoint-md-max) {
  .title {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }

  .container {
    padding: 4rem 2.5rem;
  }
}

@media (max-width: $breakpoint-md-min) {
  .container {
    padding: 3.5rem 0;
  }

  .title {
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 2.5rem;
  }
}
