@import '../../styles/breakpoint.css';

.container {
  background-color: var(--color-white);
}

.body {
  font-family: 'ABC-Diatype';
  text-align: center;
  margin-top: 2rem;
}

.title {
  font-weight: 400;
  text-align: center;
}

@media (min-width: $breakpoint-md-max) {
  .container {
    padding-bottom: 5rem;
    padding-top: 3.5rem;
  }

  .title {
    font-size: 3rem;
    line-height: 3.5625rem;
  }

  .body {
    margin-bottom: 4rem;
    font-size: 1rem;
  }
}

@media (max-width: $breakpoint-md-min) {
  .container {
    padding: 3.5rem 1.5rem 7.5rem;
  }

  .title {
    font-size: 1.75rem;
    line-height: 2.0625rem;
  }

  .body {
    margin-bottom: 3.5rem;
    font-size: 0.875rem;
  }
}
