@import '../../../styles/breakpoint.css';

.item {
  max-width: 15.75rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  font-family: 'ABC-Diatype';
}

.title {
  font-weight: 500;
}

@media (min-width: $breakpoint-md-max) {
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 70.1875rem;
    margin: 2.125rem auto 0;
  }

  .title {
    font-size: 2.346875rem;
    line-height: 2.5625rem;
  }

  .body {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

@media (max-width: $breakpoint-md-min) {
  .container {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .item {
    margin: 0 auto 2rem;
  }

  .item:last-child {
    margin-bottom: 0;
  }

  .title {
    font-size: 1.5rem;
  }

  .body {
    margin-top: 1rem;
    font-size: 0.875rem;
  }
}
