@import '../../../styles/breakpoint.css';

@media (min-width: $breakpoint-md-max) {
  .hero-section-form-container{
    background-color: var(--color-purple-tint) !important;
  }
  .hero-section-form-container-title {
    color: var(--color-charcoal);
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 1rem;
  }
  .hero-section-image {
    /* padding-left: 10.625rem; */
  }
  .large-open-drawer-module-section .header {
    max-width: 30.0625rem;
  }

  .large-open-drawer-module-section .italic {
    display: block;
  }

  .visual-only-module-section .body {
    margin-top: 2.75rem;
    margin-bottom: 2.75rem;
  }

  .bottom-component-image {
    margin: 2.75rem auto 2.75rem;
  }

  .transform-section .transform-section-container {
    max-width: 23rem;
  }

  .transform-section .transform-section-image {
    max-width: 50rem;
  }

}

@media (min-width: $breakpoint-md-max) and (max-width: 73.125rem) {
  .hero-section-image {
    padding-left: 3.75rem;
  }
}

@media (max-width: $breakpoint-md-min) {
  .hero-section-image {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .hero-section-image .image {
    max-width: 11.375rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .bottom-component-image {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .transform-section-title h2 {
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 2rem;
  }
}
